*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 15px;
}

/* Variaveis e tals */

:root{
    --border-gray:#bbbbbb;
}

input, button{
    cursor: pointer;
}

/* inicio do estilo */

body{
    display: flex;
    flex-direction: column;
}
.main-container{
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 50px;
}
/* Main container */
.banner-container
.actions-grouping-container{
    display: flex;
    flex: 1 1 0;
    width: 50%;
}

/* agrupador do inputs, tipo o login, esqueceu a senha e criar conta, serve 
pra configurar o flex column */
.actions-grouping-container{
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

input, button{
    width: 80%;
    padding: 10px 5px;
    margin: 5px;
}

button{
    margin-top: 20px;
    border-radius: 0.5rem;
    padding: 8px;
}

.main-selection-btn{
    background-color: blue;
    color: white;
    font-weight: 600;
    border: none;
}

/* container com a imagem do instagrovski */
.banner-container {
    padding: 0;
    margin-right: -4rem;
    z-index: 5;
}

.banner-container img{
    width: 100%;
    max-width: 400px;
    margin: 0 0 0 10rem;
}
/* logo do insta */
.actions-container img{
    height: 50px;
    width: auto;
    max-width: 250px;
    margin: 30px 10px;
}
/* container de ações principais */
 .actions-container{
    margin: 1rem auto 1px;
    padding: 20px;
    width: 65%;
    align-self: center;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-gray);
}   


/* seção de entrar com facebook ou esqueceu a senha */
.actions-container section{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* linha com o "ou" escrito */
.separation-section{
    display: flex;
}

#line{
    width: 80%;
    align-self: center;
    height: 1px;
    margin-top: 30px;
    background-color: var(--border-gray);
}
#separation-or{
    width: fit-content;
    align-self: center;
    top: 0px;
    position: absolute;
    margin-top: 20px;
    padding: 0 10px;
    background-color: white;
    text-transform: uppercase;
}

/* entrar com facebook */
#img-facebook{
    height: 20px;
    width: 20px;
}

#btn-log-facebook{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* quadradinho de criar conta */
.create-account-container{
    margin: 10px auto;
    width: 65%;
    display: flex;
    justify-content: center;
    padding: 20px;
    border: 1px solid var(--border-gray);
}

.create-account-container a{
    font-weight: 600;
}

/* parte de download */
.download-container{
    margin-top: 1.5rem;
}

.download-container a{
   text-decoration: none;
}
    /* imagens de dowload */
.download-figure img{
    margin-top: 15px;
    width: 140px;
}


/* footer com infos adicionais e tals */
.secondary-container{
    margin-top: 3rem;
    align-items: stretch;
    font-size: 12px;
}

.footer-container{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.footer-container p{
    font-size: 12px;
}

.aditional-info{
    align-self: center;
    text-align: center;
    list-style: none;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 1%;
}

/* lista de bobagens */
.aditional-info-items{
    text-align: center;
    justify-content: center;
    align-self: center;
}
/* itens individuais */
.aditional-info-items a{
    font-size: 12px;
}